<div class="container">
	<nav class="navbar navbar-own" role="navigation">
		<div class="navbar-header">
			<span><%= image_tag "logo_inv.png" %></span>
			<span><%= link_to "MovieStore", root_path %></span>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">About</a></li>
			<li><a href="#">Signup</a></li>
			<li><a href="#">Login</a></li>
		</ul>
	</nav>
</div>